:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --footer-text: #ffffff;
  --hover-color: #2196f3;
  --background-color: #2f303a;
  --portfolio-buttons: #f5f4fa;
}
body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}
.logo {
  text-decoration: none;
  color: var(--primary-text-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
.logo .web {
  color: var(--hover-color);
}
.logo:hover,
.logo:focus {
  color: var(--text-color);
}

.header-list,
.header-link {
  color: #212121;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--hover-color);
}

.header-link-current {
  list-style: none;
  text-decoration: none;
  color: var(--hover-color);
}
/* main-hero*/

.hero {
  background-color: var(--background-color);
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
button {
  font-family: inherit;
}

.hero-btn {
  background-color: #2196f3;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
}
.hero-btn:hover,
.hero-btn:focus {
  color: #757575;
}
/* features*/
.features {
  list-style: none;
}
.section .section-title {
  font-size: 14px;
  line-height: 1.14;
}
.features .title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
}

.features .text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* portfolio */

.portfolio {
  list-style: none;
}
.section .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* employees */

.employees {
  list-style: none;
}
.section .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17px;
  text-align: center;
}
.employees .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
}
.employees .text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.9;
}

/* footer */

.footer {
  background-color: var(--background-color);
}
.logo {
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
.footer-list,
.footer-link {
  list-style: none;
  color: var(--footer-text);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
}
/* Portfolio */

.pointer {
  background-color: var(--portfolio-buttons);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  font-family: inherit;
}
.pointer:hover,
.pointer:focus {
  background-color: var(--hover-color);
  color: #ffffff;
}
.buttons .pointer {
  cursor: pointer;
}
.portfolio .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
